:local(.root) {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
:local(.friends) {
    width: 25%;
    min-width: 200px;
    border-right: 1px solid #E0E0E0;
}
:local(.chat) {
    position: relative;
    flex: 1;
    display: flex;
}