.friends-title {
    background-color: #EEEEEE;
    padding: 20px 16px;
}
.ellipsis {
    overflow: hidden;
}
.ellipsis h3, .ellipsis p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}