.search-wrapper {
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background: #FAFAFA;
    transition: all 0.3s;
}

.search-wrapper.active {
    box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 4px !important;
    background: #FFF;
}

.search {
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    margin: 8px 12px;
    padding: 8px;
    align-items: center;
    background: #FFF;
}

.search .search-icon {
    width: 24px;
    cursor: pointer;
}

.search .search-input {
    position: relative;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    outline: none;
    border: none;
    font-size: 16px;
}