.search-wrapper {
    display: flex;
    flex-direction: row;
    background: #FAFAFA;
    transition: all 0.3s;
}

.search-wrapper.active {
    box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 4px !important;
    background: #FFF;
}

.search {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 8px 12px;
    padding: 8px;
    align-items: center;
    background: #FFF;
    border-radius: 4px;
}

.search .search-icon {
    width: 24px;
    cursor: pointer;
}

.search .search-input {
    position: relative;
    width: 100%;
    min-width: 0;
    background: #FFF;
    flex: 1;
    display: flex;
    outline: none;
    border: none;
    font-size: 16px;
}